<% //tranform datetime format
function getTime(date) {
  // convert date to number and plus 8 hours
  const ISOString = new Date(+date + 8 * 3600 * 1000).toISOString()
  const formatYmd = `${ISOString.slice(0, 10)} ${ISOString.slice(11, 19)}`
  return formatYmd
} %>
<!doctype html>
<html>
<head>
  <%- include('template/head')%>
</head>

<body>
  <%- include('template/navbar')%>
  <%- include('template/banner')%>
  <div class="container-wrapper">
    <div class="container">
      <div class="admin-posts">
        <% for (article of articles) { %>
          <div class="admin-post">
            <a class="admin-post__title" href="/article?id=<%= article.id %>">
              <%= article.title %>
            </a>
            <div class="admin-post__info">
              <div class="admin-post__created-at">
                <% if (article.Category)  { %>
                  <span><%= article.Category.name%></span>
                <% } else { %>
                  <span>未分類</span>              
                <% } %>     
                <span><%= getTime(article.createdAt) %></span>
              </div>
              <a class="admin-post__btn" href="/edit?id=<%= article.id %>">
                編輯
              </a>
              <a class="admin-post__btn" href="/delete?id=<%= article.id %>">
                刪除
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>
</html>