<!doctype html>
<html>
<head>
  <%- include('template/head')%>
</head>

<body>
  <%- include('template/navbar')%>
  <%- include('template/banner')%>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="/edit-category?id=<%= category.id %>" method="POST">
          <div class="edit-post__title">
            編輯分類：
            <% if (errorMessage && errorMessage.length > 0) { %>
              <span class="errmsg"><%= errorMessage %></span>
            <% } %>
          </div>
          <div class="edit-post__input-wrapper">
            <input name="name" class="edit-post__input" placeholder="請輸入分類名稱" value="<%= category.name %>"/>
          </div>
          <div class="edit-post__btn-wrapper">
            <input type="submit" class="edit-post__btn" value="送出" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>
<script src="index.js"></script>
<script>
  // 清除錯誤訊息
  const delegation = document.querySelector('.edit-post')
  if (document.querySelector('.errmsg')) {
    const errmsg = document.querySelector('.errmsg')
    focusinRemoveErrmsg(delegation, errmsg)
  }
</script>
</html>