<!doctype html>
<html>
<head>
  <%- include('template/head')%>
  <style>
    .ck-editor__editable_inline {
      min-height: 200px;
    }
  </style>
</head>

<body>
  <%- include('template/navbar')%>
  <%- include('template/banner')%>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="/write" method="POST">
          <div class="edit-post__title">
            新增文章：
            <% if (errorMessage && errorMessage.length > 0) { %>
              <span class="errmsg"><%= errorMessage %></span>
            <% } %>
          </div>
          <div class="edit-post__input-wrapper">
            <input name="title" class="edit-post__input" placeholder="請輸入文章標題"/>
          </div>
          <% if (categories.length) { %>
            <select name="categoryId" class="article__edit-category">
              <option selected value="">請選擇文章分類</option>
              <% for (const category of categories) { %>
                <option value="<%= category.id %>">
                  <%= category.name %>
                </option>
              <% } %>
            </select>
          <% } else { %>
            <input name="categoryId" type="hidden"/>
          <% } %>
          <div class="edit-post__input-wrapper">
            <textarea id="editor" name="content" rows="20" class="edit-post__content" cols="10"></textarea>
          </div>
          <div class="edit-post__btn-wrapper">
            <input type="submit" class="edit-post__btn" value="送出" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>
<script src="index.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
<script>
  let editor;
  ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( newEditor => {
      editor = newEditor;
      const oldContent = sessionStorage.getItem('content');
      editor.setData(oldContent);
    } )
    .catch( error => {
      console.error( error );
    } );
</script>
<script>
  // 清除錯誤訊息
  const delegation = document.querySelector('.edit-post')
  if (document.querySelector('.errmsg')) {
    const errmsg = document.querySelector('.errmsg')
    focusinRemoveErrmsg(delegation, errmsg)
  }
  // sessionStorage
  const oldTitle = sessionStorage.getItem('title');
  const titleInput = document.querySelector('.edit-post__input')
  const contentInput = document.querySelector('.ck-editor__editable_inline')
  titleInput.value = oldTitle
  function debounce(func, delay=5000) {
    let timer = null;   
    return () => {
      let context = this;
      let args = arguments;   
      clearTimeout(timer);
      timer = setTimeout(() => {
        func.apply(context, args);
      }, delay)
    }
  }
  function titleStorage() {
    sessionStorage.setItem('title', titleInput.value)
    console.log(titleInput.value)
  }
  function contentStorage() {
    sessionStorage.setItem('content', editor.getData())
    console.log(editor.getData())
  }
  titleInput.addEventListener('keyup', debounce(titleStorage))
  contentInput.addEventListener('keyup', debounce(contentStorage))
</script>
</html>